<div class="container">

    <div class="container">

        <h3 id="userInputHeader">Input your hair color, eye color and height to find out who you are</h3>

        <form id="characterInput" action="/character" method="POST">

            <div class="form-group">
                <label for="userHairColor">Hair Color</label>
                <input type="text" class="form-control" id="userHairColor" name="userHairColor" aria-describedby="userHairColor">
            </div>

            <div class="form-group">
                <label for="userEyeColor">Eye Color</label>
                <input type="text" class="form-control" id="userEyeColor" name="userEyeColor" aria-describedby="userEyeColor">
            </div>

            <div class="form-group">
                <label for="userHeight">Height</label>
                <input type="text" class="form-control" id="userHeight" name="userHeight" aria-describedby="userHeight">
            </div>

            <button type="submit" id="userBtn" class="btn btn-warning">Submit</button>

        </form>

    </div>


</div>

