<div class="container">

    <h3>GOT Character Match</h3>
    <br>
    <h3>Login</h3>
    <br>

    <form id="signinForm" action="" method="POST">

        <div class="form-group">
            <label for="signin-email">Email</label>
            <input type="email" class="form-control" id="signin-email" aria-describedby="signinEmail">
        </div>

        <div class="form-group">
            <label for="signin-password">Password</label>
            <input type="password" class="form-control" id="signin-password" aria-describedby="signinPassword">
        </div>

        <button type="submit" id="signinBtn" class="btn btn-warning">Submit</button>
        <br>
        
    </form>

</div>
