<div class="container">
  
        <h3>Welcome {{name}} to the Game of Thrones Character Matcher</h3>

        <p>Are you ready to find your character?</p>

        <button type="submit" id="startmatchBtn" class="btn btn-warning">Start Match</button>
        
</div>

