#signupHeader {
    margin-top: 30px;
    text-align: center;
    font-family: 'Rasa', serif;
}

#gotTitle {
    margin-top: 30px;
    width: 380px;
    height: 60px;
}

.form-group,
#welcomePage,
#signupBtn,
#signinBtn,
#userBtn,
#signupP,
#userInputHeader,
#characterResult,
#characterDiv,
#playAgainBtn,
#logoutBtn {
    font-family: 'Rasa', serif;
}